/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Default font */
ion-button,
ion-label {
    font-size: 16px !important;
}

ion-icon {
    font-size: 26px !important;
}

p {
    font-size: 14px !important;
}