ion-toolbar {
    --background: #12a89d;
}

.w-full {
    width: 100%;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold !important;
}

.alert-1-hdr {
    max-height: 340px;
}

.selected {
    --background: #d8eeec !important;

    p {
        color: #000;
    }
}

.copryright {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0px;
    font-weight: normal;
    margin: 0px;
    color: #fff;
}

.green-yellow {
    color: greenyellow;
}

.toolbar-background {
    position: relative;
    min-height: 96px;
    --background: transparent;
    /* ลบพื้นหลัง Ionics เอง */
    overflow: hidden;
}

.toolbar-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/S__48267332.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    /* ✅ ปรับโปร่งใสตามต้องการ */
    z-index: 0;
}

.toolbar-background ion-title,
.toolbar-background ion-buttons,
.toolbar-background ion-back-button {
    position: relative;
    z-index: 1;
    /* ✅ ให้เนื้อหามาอยู่ด้านบน */
    color: white;
    /* เปลี่ยนสีหากภาพพื้นหลังเข้ม */
}

.shadow-basic {
    color: #000;
    /* ตัวอักษรสีดำ */
    text-shadow: 2px 2px 4px #fff;
    /* เงาสีขาว */
}

ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
    --max-width: 80%;
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}

.custom-modal::part(content) {
    max-width: 75%;
    margin: 0 auto;
    /* center horizontally */
    border-radius: 12px;
}

hr.custom-hr {
    border: none;
    border-top: 1px solid #d8dade;
    /* สีฟ้า */
    width: 100%;
    /* ความยาว 50% */
    margin-top: 12px;
    // margin: 10px auto;
    /* จัดให้อยู่กึ่งกลาง */
}

ion-radio {
    --border-radius: 9999px;
    --inner-border-radius: 9999px;

    --color: #ddd;
    --color-checked: #000;
}

ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;

    border: 2px solid #ddd;
    border-radius: 9999px;
}

.radio-checked.ios::part(container) {
    border-color: #000;
}

.custom-input {
    background-color: #f6f8fc;
    border-radius: 36px;
    margin-right: 8px;
    max-width: 80% !important;
    width: 80% !important;
}

ion-textarea {
    background-color: #f6f8fc;
    padding: 0px 12px !important;
    border-radius: 16px;
    font-size: 16px;
}

.font-bold {
    font-weight: bold;
}

// mgl-map {
//     width: 100%;
//     height: 100%;
// }

// ::ng-deep {
//     button.mapboxgl-ctrl-geolocate {
//         display: none;
//     }

//     a.mapboxgl-ctrl-logo {
//         display: none;
//     }

//     div.mapboxgl-ctrl-attrib {
//         &::after {
//             display: none;
//         }
//     }

//     .mapboxgl-control-container {
//         display: none;
//     }
// }
.map-container {
    width: 100%;
    height: 100%;
    /* หรือสูงเท่าที่ต้องการ */
}

.map-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 20;
    background-color: #000;
    border: none;
    border-radius: 50%;
    padding: 4px;
    height: 36px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.map-bottom {
    position: absolute;
    bottom: 12px;
    right: 12px;
    // justify-self: anchor-center;
    z-index: 20;
    font-weight: bold;
    color: #fff;
    border: none;
    border-style: solid;
    border-radius: 10px;
    padding: 4px;
    height: 36px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.map-button-line {
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 20;
    background-color: #000;
    border: none;
    border-radius: 50%;
    padding: 4px;
    height: 36px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.map-button ion-icon,
.map-button-line ion-icon {
    font-size: 28px;
    color: #fff;
}

.card-img {
    // margin-top: 16px 0px 0px 0px;
    margin: 16px;
    position: relative;
    width: 162px;
    height: 162px;

    div {
        height: 100px;
    }

    img {
        // width: 100%;
        // height: 100%;
        object-fit: cover;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}